WebClient/Connected Services/StoreServiceReference/StoreManagement.StoreManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StoreManagement.StoreManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StoreManagement.StoreManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Medicine">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MedicineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medicine" nillable="true" type="tns:Medicine" />
</xs:schema>