WebClient/Connected Services/SignUpReference/StoreManagement.User.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StoreManagement.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StoreManagement.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSeller" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mobileno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
</xs:schema>